body{
    background: url("https://images.unsplash.com/photo-1558433916-90a36b44753f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80") no-repeat center center fixed; 

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.card{
    margin: 20px auto 0; 
    width: 30rem;
    max-width: 90%;
    opacity: 0.9;
    border: none !important;
}


.button{
    display: flex;
    
}

.btn-danger{
    padding-left: 2.5rem;
    padding-right: 2.6rem;
}

.content{
    padding-left: 1rem;
    padding-right: 1rem;
}

.card-text{
    font-size: 1.5rem;
    text-align: center;
}

@media(max-width: 517px){
    .button{
        flex-direction: column;
        
    }
}