.card{
    margin: 10px auto 0; 
    width: 30rem;
    max-width: 90%;
}

.button{
    display: flex;
    
}

.btn-danger{
    padding-left: 2.5rem;
    padding-right: 2.6rem;
}

.content{
    padding-left: 1rem;
    padding-right: 1rem;
}

.card-text{
    font-size: 1.5rem;
    text-align: center;
}

@media(max-width: 517px){
    .button{
        flex-direction: column;
        
    }
}